.ui-growl {
  position: fixed;
  top: 100%;
  left: 70%;
  width: 360px;
  height: 0px;
  z-index: auto;
}

.ui-growl-item-container {
  position: relative;
  /*margin: -170px 0 0 0;*/
  margin: -95px 0 0 0;
  opacity: 0.70;
  filter: alpha(opacity=70);
}

#notify-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 155px;
}
