<!--<h2>{{subtitle}}</h2>-->

<!--
  <button pButton type="button " (click)=onDebug() label="Show Detail in Console"></button>
-->
<!-- Prime Ng Data Table for Purchased Stock List-->
<div>
  <p-dataTable [(value)]="purchasedStockList" [editable]="true" [rows]="15" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20]"
    [responsive]="true" sortField="status" [sortOrder]="-1" resizableColumns="true" reorderableColumns="true" expandableRows="true"
    (onEditComplete)="onEditComplete()" (onEditInit)="onEditInit()">
    <!--Header section-->
    <p-header>
      <h3>Purchased Stocks</h3>
      <!--
        <div style="text-align:right">
          <p-multiSelect [options]="purColsOptions" [(ngModel)]="purCols"></p-multiSelect>
        </div>
        -->
    </p-header>
    <!-- Define the columns of the table-->
    <div class="row">
      <!-- First column of the table - list all the actions -->
      <p-column [style]="{'width':'100px', 'text-align':'center'}" expander="true" styleClass="col-icon" header="Actions">
        <ng-template let-stock="rowData" pTemplate type="body">
          <button type="button" pButton icon="fa-times" class="ui-button-danger" (click)="onDeleteStock(stock, 'purchasedStockList')"></button>
          <button type="button" pButton icon="fa-arrow-down" (click)="onMoveStockTo(stock, 'favoriteStockList')"></button>
        </ng-template>
      </p-column>
      <!-- Dynamically  list the columns based on the array of  purCols -->
      <p-column *ngFor="let col of purCols" [field]="col.field" [header]="col.header" [sortable]="col.sortable" [editable]="col.editable"
        [styleClass]="col.styleClass">
        <ng-template pTemplate let-col let-row="rowData">
          <span *ngIf="col.field == 'status' || col.field == 'signal' || col.field == 'profit' || col.field == 'percentage'  ; else normal "
            [ngStyle]="{'color': row[col.field] > 0 ? 'green': 'red'}">{{row[col.field]}}</span>
          <ng-template #normal><span>{{row[col.field]}}</span></ng-template>
        </ng-template>
      </p-column>
      <!--
      <p-column field="profit" header="test" sortable="true" editable="true">
        <ng-template pTemplate let-col let-row="rowData">
          <span [ngStyle]="{'color': row[col.field] > 0 ? 'green': 'red'}">{{row[col.field]}}</span>
        </ng-template>
      </p-column>
      -->
    </div>

    <!-- The row expansion of each row-->
    <ng-template let-stock pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">

          </div>
          <div class="ui-grid-col-9">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">Symbol: </div>
                <div class="ui-grid-col-10">{{stock.symbol}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Footer section-->
    <p-footer>
      <div class="ui-helper-clearfix row" style="width:100%">
        <div class="col-md-3" style="text-align: left">
          <input type="text" pInputText #newPurSymbol style="text-transform:uppercase" placeholder="Enter symbol" />
          <button type="button" class="ui-button-success" pButton icon="fa-plus" (click)="onAddNewStock(newPurSymbol.value, 'purchasedStockList'); newPurSymbol.value='';"
            label="Add"> </button>
        </div>
        <!--
        <div class="col-md-3" style="text-align: left"> <button pButton type="button" (click)=onSavePurchase() label="Save Purchase"></button></div>
        -->
      </div>
    </p-footer>
  </p-dataTable>
</div>
<br/>
<br/>

<!-- Prime Ng Data Table for Favorite Stock List-->
<div>
  <p-dataTable [(value)]="favoriteStockList" [editable]="true" [rows]="15" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20]"
    [responsive]="true" sortField="status" [sortOrder]="-1" resizableColumns="true" reorderableColumns="true" expandableRows="true"
    (onEditComplete)="onEditComplete()" (onEditInit)="onEditInit()">
    <!--Header section-->
    <p-header>
      <h3>Favorite Stocks</h3>
    </p-header>
    <!-- Define the columns of the table-->
    <div class="row">
      <!-- First column of the table - list all the actions -->
      <p-column [style]="{'width':'100px', 'text-align':'center'}" expander="true" styleClass="col-icon" header="Actions">
        <ng-template let-stock="rowData" pTemplate type="body">
          <button type="button" pButton icon="fa-times" class="ui-button-danger" (click)="onDeleteStock(stock, 'favoriteStockList')"></button>
          <button type="button" pButton icon="fa-arrow-up" (click)="onMoveStockTo(stock, 'purchasedStockList')"></button>
        </ng-template>
      </p-column>
      <!-- Dynamically  list the columns based on the array of  favCols -->
      <!--<p-column *ngFor="let col of favCols " [field]="col.field " [header]="col.header " [sortable]="true" [editable]="col.editable"></p-column>-->
      <p-column *ngFor="let col of favCols" [field]="col.field" [header]="col.header" [sortable]="col.sortable" [editable]="col.editable"
        [styleClass]="col.styleClass">
        <ng-template pTemplate let-col let-row="rowData">
          <span *ngIf="col.field == 'status' || col.field == 'signal' || col.field == 'profit' || col.field == 'percentage'  ; else normal "
            [ngStyle]="{'color': row[col.field] > 0 ? 'green': 'red'}">{{row[col.field]}}</span>
          <ng-template #normal><span>{{row[col.field]}}</span></ng-template>
        </ng-template>
      </p-column>
    </div>
    <!-- The row expansion of each row-->
    <ng-template let-stock pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center">

          </div>
          <div class="ui-grid-col-9">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">Symbol: </div>
                <div class="ui-grid-col-10">{{stock.symbol}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- Footer section-->
    <p-footer>
      <div class="ui-helper-clearfix row" style="width:100%">
        <div class="col-md-3" style="text-align: left">
          <input type="text" pInputText #newFavSymbol style="text-transform:uppercase" placeholder="Enter symbol" />
          <button type="button" class="ui-button-success" pButton icon="fa-plus" (click)="onAddNewStock(newFavSymbol.value, 'favoriteStockList'); newFavSymbol.value='';"
            label="Add"> </button>
        </div>
        <!--
        <div class="col-md-3" style="text-align: left"> <button id="saveFavorite" pButton type="button " (click)=onSaveFavorite() label="Save Favorite"></button></div>
        -->
      </div>
    </p-footer>
  </p-dataTable>
</div>

<router-outlet></router-outlet>
