<h2>{{subtitle}}</h2>
<h3>Purchased Stocks</h3>
<div>
  <p-dataTable [(value)]="purchasedStockList" [editable]="true" [rows]="15" [paginator]="true" [pageLinks]="5" [responsive]="true"
    [stacked]="stacked" sortMode="multiple">
    <p-column *ngFor="let col of purCols" [field]="col.field" [header]="col.header" [sortable]="true" [editable]="col.editable"></p-column>

    <!--<p-column field="avg" header="Avg " [sortable]="true " [editable]="true "></p-column>-->

  </p-dataTable>
</div>

<div>
  <button id="savePurchased " class="btn btn-primary " type="button " (click)=onSavePurchase()>Save Purchase</button>
</div>
<h3>Favorite Stocks</h3>
<div>
  <p-dataTable [(value)]="favoriteStockList" [editable]="true" [rows]="15" [paginator]="true" [pageLinks]="5" [responsive]="true"
    [stacked]="stacked" sortMode="multiple">
    <p-column *ngFor="let col of favCols " [field]="col.field " [header]="col.header " [sortable]="true" [editable]="col.editable"></p-column>
  </p-dataTable>
  <button id="saveFavorite " class="btn btn-primary " type="button " (click)=onSaveFavorite()>Save Favorite</button>
</div>
<router-outlet></router-outlet>
